extends layout
block content
   h1=title
   form(method='post', name='', action='doUpload',enctype='multipart/form-data')
      table.form_table(cellspacing='5', cellpadding='5',border='0')
         tbody
            tr
               td.label FileName:
               td
                  input(type='file',name='uplaod-file',id='fileUploader')
            tr
               td
               input.button2(type='submit',value="Upload',id='fileUploadButton')