<!DOCTYPE html>
<html lang="en" ng-app="UserProjectApp">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- Local themes -->
    <link rel="stylesheet" href="css/basic-styles.css">
  </head>
  <body ng-controller="SimplexSubmitController">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          Upload your Simplex input file.
          <div ng-controller="UploadController">
            <input type="file" file-model="myFile">
            <button ng-click="uploadFile()">Upload File</button>
          </div>
          <div ng-controller="SimplexSubmitController">
            <button ng-disabled="isDisabled" ng-click="submit()">Do thing!</button>
          </div>
          <form ng-submit="submit()" ng-controller="SimplexSubmitController">
            Hit the button and watch it fizz!
            <input type="text" ng-model="userName" name="userName"/>
            <input type="text" ng-model="projectId" name="projectId"/>
            <input ng-disabled="isDisabled" type="submit" id="submitSimplex" value="Submit Simplex"/>
          </form>
        </div>
      </div>
      
      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- AngularJS core JavaScript
    ================================================== -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
